input:focus {
    outline: none;
}


.inputText {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    outline-width: 0;
    border: none;
    background-color: #F0F0F0;
    font-weight: bold;
    color: #A9A9A9;
    caret-color: rgb(0, 200, 0);
}

.headerDiv {
    background-color: white;
    height: 130px;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.mapDiv{
    width: 100%;
    height: 550px;
    position: relative;
}

.footerDiv {
    background-color: white;
    height: 110px;
    padding: 20px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    position: absolute;
    bottom: 0;
}

.footerDiv .topDiv {
    display: inline;
}
.footerDiv .topDiv span{
    font-size: small;
}

.topDiv b{
    font-weight: bolder;
    padding-bottom: 10px;

}

.footerDiv .topDiv b:last-child{
    float: right;
    font-size: small;
}

.footerDiv button{
    height: 40px;
    width: 100%;
    background-color: rgba(47, 175, 47, 0.74);
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: bold;
}

.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

.overlay{
	position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: #56668366 0% 0% no-repeat padding-box;
    z-index:9999;
    height: 785px;
}
.overlay-content{
	position: relative;
    width: 500px;
    
    padding: 30px;
    height: 350px;
    top: 50%;
    left: 50%;
    margin-left: -246px;
    margin-top: -178px;
    background: #fff;
    border-radius: 6px;
}

.innerModalContainer{
    height: 200px;
}

.addressWrapper {
    display: flex;
}

.addressWrapper i{
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background-color: rgba(240, 239, 239, 0.938);
    margin-right: 10px;
    padding-left: 9px;
    padding-top: 5px;
    margin-top: 5px;
}

.addressWrapper p{
    margin-top: -5px;
    font-size: small;
    color: lightgrey;
}

.overlay-content button{
    height: 40px;
    width: 100%;
    background-color: rgba(47, 175, 47, 0.74);
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: bold;
    bottom: 0;
} 

.customloader img{
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 39%;
}

.inputButton {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    outline-width: 0;
    border: none;
    background-color: #F0F0F0;
    font-weight: bold;
    color: #A9A9A9;
    text-align: start;
}


